.titulo{
    text-align: center; 
    background:  #a04713;;
    color: white; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 2%;
}

.margenArriba {
    margin: 3%;
}

.tamanio{
    width: 80%;
}

.tamanioTextArea{
    height: 80px;
}

.botones{
    margin-left: 2%;
    color: white;
    background-color: #a04713;;
}

.margenBotones {
    margin-left: 2%;
}